{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h5 class="p-2 m-2 shadow-sm bg-light" style="color: #001D6E;">House Rules</h5>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    	</div>
<div class="row">
	<div class="col-md-8 col-lg-8">
		<table class="table table-hover">
			<thead>
				<th>House Rules</th>
				<th>Fines</th>
				<th>Student</th>
				<th>Action</th>
			</thead>

			{% for i in h%}
			<tr>
				<td>{{i.rule}}</td>
				<td>{{i.fine}}</td>
				<td>{% for j in i.student.all %}<span>{{j.name}}</span><br>{% endfor %}</td>
				<td><a href="{% url 'update-house-rules' user.id i.pk%}" style="color:limegreen;">Edit</a> | <a href="{% url 'delete-house-rules' user.id i.pk%}" style="color:crimson;">Delete</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<!-- <div class="col-md-8 col-lg-8">
		{% include 'rules/house-rules/house-rules-accordion.html'%}
	</div>
 -->
	<div class="col-md-4 col-lg-4">
		<h6 class="p-2 shadow-sm" style="color: white; background-color: #001D6E;">Add House Rules</h6>
		<form method="POST">
		  {% csrf_token %}
		  {{form}}
		   <div class="btn-group float-end mt-3" role="group" aria-label="Basic example">
			  <button type="submit" class="btn" style="background-color:#001D6E; color:white;">Submit</button>
			  <button type="button" class="btn" style="background-color:crimson;"><a class="text-decoration-none" style="color:white;" href="{% url 'house-rules' user.id %}">Cancel</button>
			</div>
		</form>
			</div>
</div>


{% endblock item %}