{% extends 'sidebar/sidebar.html' %}
{% block item %}
{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
	label {
		color: #001D6E;
	}

	.title-bg {
		background-color: #7FB5FF;
	}

</style>
<h5 class="p-2 m-2 shadow-sm bg-light" style="color: #001D6E;">Bill</h5>
<div class="container">
    	{% if messages %}
    	{% for message in messages %}
    		<div class="alert alert-{{message.tags}}">{{message}}</div>
    	{% endfor %}
    	{% endif %}
    	</div>
<div class="row">
	<div class="col-md-8 col-lg-8">
		<table class="table table-hover">
			<thead>
				<th>Name</th>
				<th>Date</th>
				<th>Count</th>
				<th>Value Each</th>
				<th>Total Value</th>
				<th>Action</th>
			</thead>

			{% for i in bill %}
			<tr>
				<td>{{i.name}}</td>
				<td>{{i.date_created}}</td>
				<td>{{i.count}}</td>
				<td>{{i.value}}</td>
				<td>{{i.total_value}}</td>
				<td><a href="{% url 'print-bill' user.id i.id %}" style="color:limegreen">Withdraw</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>

	<div class="col-md-4 col-lg-4">
		<a href="{% url 'money-circulation' user.id %}" class="text-decoration-none text-center"><h6 class="p-2 shadow-sm" style="color: white; background-color: crimson;">Check Money Circulation</h6></a>
		<h6 class="title-bg p-2 shadow-sm" style="color: white; background-color: #001D6E;">Add Bill</h6>
		<form method="POST">
		  {% csrf_token %}
		  {{form}}

		  <div class="btn-group float-end mt-2" role="group" aria-label="Basic example">
			  <button type="submit" class="btn" style="background-color:#001D6E; color:white;">Submit</button>
			  <button type="button" class="btn" style="background-color:crimson;"><a class="text-decoration-none" style="color:white;" href="{% url 'bill' user.id %}">Cancel</button>
			</div>
		  
		</form>
			</div>
</div>


{% endblock item %}